annotated-types==0.7.0
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
docutils==0.21.2
idna==3.7
kivi==0.2.7
Kivy==2.3.0
Kivy-Garden==0.1.5
pillow==10.4.0
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
requests==2.32.3
setuptools==72.1.0
typing_extensions==4.12.2
urllib3==2.2.2
wheel==0.43.0
